html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 0.5;
  font-size: 18px;
}

.container {
  max-width: 36rem;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
  display: block;
}

.card {
  margin: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.card-desc {
  text-align: center;
  padding-bottom: 16px;
}

.heading {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.title {
  font-size: 2.5rem;
}

.button-container {
  text-align: center;
}

.button {
  height: 48px;
  border-radius: 12px;
  font-size: 14px;
  transition: color 1s, background-position 1s, box-shadow 1s;
  color: #fff;
  background: #4254f4;
  width: 100%;
  max-width: 420px;
  cursor: pointer;
}
